.DS_Store
.ant-targets-build.xml
.classpath
.project
.idea
*.iml
target
out/
build/
dist/
docs/
jars/
outcomes/
reports/
target/
src/it/unimi/di/law/warc/filters/parser/FilterParser.java
src/it/unimi/di/law/warc/filters/parser/FilterParserConstants.java
src/it/unimi/di/law/warc/filters/parser/FilterParserTokenManager.java
src/it/unimi/di/law/warc/filters/parser/ParseException.java
src/it/unimi/di/law/warc/filters/parser/SimpleCharStream.java
src/it/unimi/di/law/warc/filters/parser/Token.java
src/it/unimi/di/law/warc/filters/parser/TokenMgrError.java
src/it/unimi/di/law/bubing/protobuf/*.java
.settings/
priv/
bin/
tests/
BUbiNG.tar.gz

extjars/wdl-*
crawl