<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">


  <appender name="all" class="ch.qos.logback.core.rolling.RollingFileAppender">
	  <file>${BUBING_LOG_DIR}/${BUBING_LOG_FILENAME}.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <maxHistory>10</maxHistory>
      <FileNamePattern>${BUBING_LOG_DIR}/${BUBING_LOG_FILENAME}.%d{yyyy-MM-dd_HH}.log.gz</FileNamePattern>
    </rollingPolicy>
  </appender>
  <appender name="warn" class="ch.qos.logback.core.rolling.RollingFileAppender">
	  <file>${BUBING_LOG_DIR}/${BUBING_LOG_FILENAME}.warn</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>WARN</level>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <maxHistory>10</maxHistory>
      <FileNamePattern>${BUBING_LOG_DIR}/${BUBING_LOG_FILENAME}.%d.warn.gz</FileNamePattern>
    </rollingPolicy>
  </appender>
  <appender name="debug" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${BUBING_LOG_DIR}/${BUBING_LOG_FILENAME}.debug</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>DEBUG</level>
    </filter>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <maxHistory>10</maxHistory>
      <FileNamePattern>${BUBING_LOG_DIR}/${BUBING_LOG_FILENAME}.%d.debug.gz</FileNamePattern>
    </rollingPolicy>
  </appender>

  <root level="DEBUG">
    <appender-ref ref="all"/>
    <appender-ref ref="warn"/>
    <appender-ref ref="debug"/>
  </root>

  <logger name="net.htmlparser.jericho" level="OFF"/>
  <logger name="it.unimi.di.law.bubing" level="INFO"/>
  <logger name="org.apache.http.impl.client" level="WARN"/>
  <logger name="org.apache.http.wire" level="WARN"/>
</configuration>
